<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <group groupName="ExperienceEditor" name="ExperienceEditor">
        <pipelines>
          <getPageEditorNotifications>
            <processor type="Sitecore.Support.Pipelines.GetPageEditorNotifications.GetWorkflowNotification, Sitecore.Support.226033" patch:instead="processor[@type='Sitecore.Pipelines.GetPageEditorNotifications.GetWorkflowNotification, Sitecore.ExperienceEditor']"/>
          </getPageEditorNotifications>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>